# Tuple:

In [ ]:
1. Tuple is exactly same as list except that it is immutable. 
Once we create we cannot change the elements of tuple.

2. If our data fixed we will go for tuple to use. 
3. Insertion order is preserved.
4. Duplicates are allowed.
5. Heterogenious objects are allowed.
6. Tuple is enclosed between paranthesis ()

### Examples of creation of tuple:

In [1]:
# empty tuple
t=()
print(type(t))

<class 'tuple'>

In [5]:
#single element tuple
t=(10,)
print(type(t))

<class 'tuple'>

In [6]:
#single  tuple
t=(10,20,30,40)
print(type(t))

<class 'tuple'>

In [7]:
#tuple with heterogeneous objects
t=(10,20.5,"Hello",10+5j)
print(type(t))

<class 'tuple'>

In [8]:
#tuple with duplicate elements
t=(10,20,30,30,20,20,30)
print(t)
print(type(t))

(10, 20, 30, 30, 20, 20, 30)
<class 'tuple'>

In [9]:
#tuple creation without paranthesis
t=10,20,30,40,50
print(t)
print(type(t))

(10, 20, 30, 40, 50)
<class 'tuple'>

## tuple():

In [10]:
l=[1,2,3,4,5,10.5,"Hello"]
t=tuple(l)
print(t)
print(type(t))

(1, 2, 3, 4, 5, 10.5, 'Hello')
<class 'tuple'>

### Accessing of tuple elements:

In [ ]:
1. By using indexing.
2. By using slicing.

### 1. By using indexing:

In [11]:
t=(1,2,3,10,40.5,"Hello")
print(t[0])

1

In [12]:
t=(1,2,3,10,40.5,"Hello")
print(t[5])

Hello

In [13]:
t=(1,2,3,10,40.5,"Hello")
print(t[-1])

Hello

In [14]:
t=(1,2,3,10,40.5,"Hello")
print(t[10])

IndexError: tuple index out of range

### 2. By Using Slicing:

In [15]:
t=(10,20,30,40.5,"Hello","Venky","Divya","Srujana")
print(t[1:3])

(20, 30)

In [16]:
t=(10,20,30,40.5,"Hello","Venky","Divya","Srujana")
print(t[1:6])

(20, 30, 40.5, 'Hello', 'Venky')

In [17]:
t=(10,20,30,40.5,"Hello","Venky","Divya","Srujana")
print(t[1:10])

(20, 30, 40.5, 'Hello', 'Venky', 'Divya', 'Srujana')

In [18]:
t=(10,20,30,40.5,"Hello","Venky","Divya","Srujana")
print(t[1:100])

(20, 30, 40.5, 'Hello', 'Venky', 'Divya', 'Srujana')

In [19]:
t=(10,20,30,40.5,"Hello","Venky","Divya","Srujana")
print(t[1:3000])

(20, 30, 40.5, 'Hello', 'Venky', 'Divya', 'Srujana')

In [20]:
t1=(1,2,3,4)
t2=(5,6,7)
t=t1+t2
print(t)

(1, 2, 3, 4, 5, 6, 7)

In [29]:
t1=(1,2,3,4)
t2=(5,6,7)
print(id(t1))
t1=t1+t2
print(t1)
print(id(t1))

2278549591528
(1, 2, 3, 4, 5, 6, 7)
2278548345464

In [21]:
t=(1,2,3,4)
t2=t*3
print(t2)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [22]:
#example program to use len()
t=(1,2,3,4,4,5,6,5,5,5)
print(len(t))

10

In [23]:
#example program to use count()
t=(1,2,3,4,4,5,6,5,5,5)
print(t.count(5))

4

In [24]:
#example program to use index()
t=(1,2,3,4,4,5,6,5,5,5)
print(t.index(4))

3

In [25]:
#example program to use sorted()
t=(1,2,3,4,4,5,6,5,5,5)
print(sorted(t))

[1, 2, 3, 4, 4, 5, 5, 5, 5, 6]

In [26]:
#example program to use min()
t=(1,2,3,4,4,5,6,5,5,5)
print(min(t))

1

In [27]:
#example program to use max()
t=(1,2,3,4,4,5,6,5,5,5)
print(max(t))

6